body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  color: #333;
  margin-top: 0;
}

img {
  display: block;
  margin: 20px 0;
}

#placeholder {
  display: block;
}

#playingGif {
  display: none;
}

#pausedGif {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
